# Ignore Python bytecode and cache files
/__pycache__/

# Ignore contents of the data folder but allow .dvc files
/data/*
!/data/**/*.dvc

# Ignore all .h5 files from any directory
**/*.h5

# Ignore MLflow artifacts directory
/mlruns/

# Ignore tuner results directory
/tuner_results/
