# Ignore Python bytecode and cache files
/__pycache__/

# Ignore datasets
/data/test/
/data/train/
/data/val/

/*.h5

# Ignore MLflow artifacts directory
/mlruns/

# Ignore tuner results directory
/tuner_results/
