boto3==1.35.7
dvc==3.55.0
GPUtil
keras==2.10.0
keras-tuner==1.4.7
matplotlib
mlflow
numpy
opencv-python
pandas
Pillow
PyYAML
requests
scikit-learn
scipy
seaborn
tensorboard==2.10.1
tensorflow==2.10.1

